<!DOCTYPE html>
<html>
<head>
  <title>Patient SignUp</title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
</head>

<body style="font-family: 'PT Serif', serif;">
   <div class="container" style="width:80%;border: 1px solid grey;margin-top: 3%;padding: 10px;">
  <form action="/patient/" method="post">
  {% csrf_token %}
  <center>
  <h2 style="font-family: 'PT Serif', serif;">| Add Patient Details</h2></center><br>
  <div class="form-row">
    <div class="form-group col-md-12">
    <label for="inputAddress">Name of the Patient</label>
    <input type="text" class="form-control" id="inputAddress" value ="XYZ" name="name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Phone Number-1</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Phone No." name="phone1">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Phone Number-2</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Phone No." name="phone2">
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress">Residential Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Pune" name="raddr">
  </div>
  <div class="form-group col-md-12">
    <label for="inputAddress">Permanent Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Pune" name="paddr">
  </div>
   <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Profession</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Profession" name="profession">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Date of Birth</label>
      <input type="date" class="form-control" id="inputPassword4" placeholder="" name="dob">
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Aadhar Card No.</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Aadhar Card No." name="aadhar">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="inputEmail4">Gender</label><br>
      <label class="radio-inline"><input type="radio" name="gender" value="male" checked>Male</label>
      <label class="radio-inline"><input type="radio" name="gender" value="female">Female</label>
      
    </div>
    <div class="form-group col-md-3">
      <label for="inputEmail4">Marital Status</label><br>
      <label class="radio-inline"><input type="radio" name="mstatus" value="married" checked>Married</label>
      <label class="radio-inline"><input type="radio" name="mstatus" value="unmarried">Unmarried</label>
      
    </div>
    <div class="form-group col-md-3">
      <label for="sel1">Blood Group:</label>
      <select class="form-control" id="sel1" name="bgrp">
        <option>A+ve</option>
        <option>A-ve</option>
        <option>B+ve</option>
        <option>B-ve</option>
        <option>O+ve</option>
        <option>O-ve</option>
        <option>AB+ve</option>
        <option>AB-ve</option>
      </select>
      
    </div>
    <div class="form-group col-md-3">
      <label for="inputPassword4">Name of the Spouse</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="If married" name="sname">
    </div>
  </div>
  <br><br>
  <center>
  <button type="submit" class="btn btn-primary">Proceed</button>
  </center>
</form>
</div>
</body>
</html>